<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group">
    <!-- wp:heading {"level":1} -->
    <h1>KWK Theme is Active</h1>
    <!-- /wp:heading -->

    <!-- wp:query {"queryId":1,"query":{"perPage":6,"postType":"post"}} -->
    <!-- wp:post-template -->
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <!-- wp:post-title {"isLink":true} /-->
    <!-- wp:post-featured-image {"isLink":true,"width":"100%"} /-->
    <!-- wp:post-excerpt /-->
    <!-- /wp:group -->
    <!-- /wp:post-template -->
    <!-- wp:query-pagination /-->
    <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->